body {
    background: linear-gradient(135deg, #323232, #1d7f66);
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Poppins, sans-serif;
}

h1 {
    color: #d6d6d6;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.header {
    color: #d6d6d6;
    text-align: center;
}

.container {
    width: 800px; 
    max-width: 90%; 
    margin: 0 auto; 
    text-align: center; 
}

input[type="text"], button, .output {
    width: 100%;
    box-sizing: border-box; 
    height: 60px; 
    margin: 10px 0; 
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
}

button {
    padding: 0;
    background-color: #1d7f66;
    color: #d6d6d6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

button:hover {
    background-color: #1cad89;
    transition: 1.1s;
}

.output {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1d7f66;
    color: #d6d6d6;
    font-size: 18px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 60px;
}